---
import BaseLayout from '../layouts/BaseLayout.astro';
import PredictionForm from '../components/PredictionForm';
---

<BaseLayout title="Predictor - PuneProp Predict">
  <div class="container py-5">
    <!-- <h3 class="display-6 fw-bold mb-5" style="color: red;">
      Site Under Maintenance. Models will be updated soon.
    </h3> -->
    <PredictionForm client:load />
  </div>
</BaseLayout>
